@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.nav{
  margin-bottom: 10px;
}
.stationLine{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  .el-radio-group{
    gap: 5px 0;
  }
}
.stationNameBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  .stationID{
    padding: 0 5px 0 0;
  }
}
.bl_line .el-radio-button__original-radio:checked+.el-radio-button__inner{
  background-color:  var(--bl_line);
  border-color: var(--bl_line);
  box-shadow:-1px 0 0 0 var(--bl_line);
}
.r_line .el-radio-button__original-radio:checked+.el-radio-button__inner{
  background-color: var(--r_line);
  border-color: var(--r_line);
  box-shadow:-1px 0 0 0 var(--r_line);
}
.g_line .el-radio-button__original-radio:checked+.el-radio-button__inner{
  background-color: var(--g_line);
  border-color: var(--g_line);
  box-shadow:-1px 0 0 0 var(--g_line);
}
.br_line .el-radio-button__original-radio:checked+.el-radio-button__inner{
  background-color: var(--br_line);
  border-color: var(--br_line);
  box-shadow:-1px 0 0 0 var(--br_line);
}
.o_line .el-radio-button__original-radio:checked+.el-radio-button__inner{
  background-color: var(--o_line);
  border-color: var(--o_line);
  box-shadow:-1px 0 0 0 var(--o_line);
}
.y_line .el-radio-button__original-radio:checked+.el-radio-button__inner{
  background-color: var(--y_line);
  border-color: var(--y_line);
  color: #000;
  box-shadow:-1px 0 0 0 var(--y_line);
}
.MRTradio{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.foodSection{
  display: grid;
  grid-template-columns: 1fr;
}
.foodItem{
  padding: 5px 15px 5px 15px;
  border: 1px solid #000;
  margin: 10px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
@media (min-width: 540px) {
  .foodSection{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

  .foodSection{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
